<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (medicalRecord()) {
      <div>
        <h2 data-cy="medicalRecordDetailsHeading">
          <span jhiTranslate="proxyApp.userManagementMedicalRecord.detail.title">Medical Record</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ medicalRecord()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="proxyApp.userManagementMedicalRecord.recordId">Record Id</span></dt>
          <dd>
            <span>{{ medicalRecord()!.recordId }}</span>
          </dd>
          <dt><span jhiTranslate="proxyApp.userManagementMedicalRecord.details">Details</span></dt>
          <dd>
            <span>{{ medicalRecord()!.details }}</span>
          </dd>
          <dt><span jhiTranslate="proxyApp.userManagementMedicalRecord.dateUpdated">Date Updated</span></dt>
          <dd>
            <span>{{ medicalRecord()!.dateUpdated | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="proxyApp.userManagementMedicalRecord.utilisateur">Utilisateur</span></dt>
          <dd>
            @if (medicalRecord()!.utilisateur) {
              <div>
                <a [routerLink]="['/utilisateur', medicalRecord()!.utilisateur?.id, 'view']">{{ medicalRecord()!.utilisateur?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/medical-record', medicalRecord()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
