<div>
  <h2 id="page-heading" data-cy="SouscriptionHeading">
    <span jhiTranslate="proxyApp.insuranceManagementSouscription.home.title">Souscriptions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="proxyApp.insuranceManagementSouscription.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-souscription"
        [routerLink]="['/souscription/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="proxyApp.insuranceManagementSouscription.home.createLabel"
          >Create a new Souscription</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="proxyApp.insuranceManagementSouscription.home.search"
          >Search for Souscription</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'proxyApp.insuranceManagementSouscription.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (souscriptions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="proxyApp.insuranceManagementSouscription.home.notFound">No Souscriptions found</span>
    </div>
  }

  @if (souscriptions && souscriptions.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numeroSouscription">
              <div class="d-flex">
                <span jhiTranslate="proxyApp.insuranceManagementSouscription.numeroSouscription">Numero Souscription</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="dateSouscription">
              <div class="d-flex">
                <span jhiTranslate="proxyApp.insuranceManagementSouscription.dateSouscription">Date Souscription</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="proxyApp.insuranceManagementSouscription.status">Status</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="cumulSinistres">
              <div class="d-flex">
                <span jhiTranslate="proxyApp.insuranceManagementSouscription.cumulSinistres">Cumul Sinistres</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="frequencePaiement">
              <div class="d-flex">
                <span jhiTranslate="proxyApp.insuranceManagementSouscription.frequencePaiement">Frequence Paiement</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="utilisateurId">
              <div class="d-flex">
                <span jhiTranslate="proxyApp.insuranceManagementSouscription.utilisateurId">Utilisateur Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="policesAssurances.id">
              <div class="d-flex">
                <span jhiTranslate="proxyApp.insuranceManagementSouscription.policesAssurances">Polices Assurances</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (souscription of souscriptions; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/souscription', souscription.id, 'view']">{{ souscription.id }}</a>
              </td>
              <td>{{ souscription.numeroSouscription }}</td>
              <td>{{ souscription.dateSouscription | formatMediumDatetime }}</td>
              <td [jhiTranslate]="'proxyApp.SubscriptionStatus.' + (souscription.status ?? 'null')">
                {{
                  { null: '', ACTIVE: 'ACTIVE', ON_RISK: 'ON_RISK', WATTING: 'WATTING', RESILIE: 'RESILIE' }[souscription.status ?? 'null']
                }}
              </td>
              <td>{{ souscription.cumulSinistres }}</td>
              <td [jhiTranslate]="'proxyApp.PaymentFrequency.' + (souscription.frequencePaiement ?? 'null')">
                {{
                  { null: '', MENSUEL: 'MENSUEL', TRIMESTRIEL: 'TRIMESTRIEL', SEMESTRIEL: 'SEMESTRIEL', ANNUEL: 'ANNUEL' }[
                    souscription.frequencePaiement ?? 'null'
                  ]
                }}
              </td>
              <td>{{ souscription.utilisateurId }}</td>
              <td>
                @if (souscription.policesAssurances) {
                  <div>
                    <a [routerLink]="['/polices-assurances', souscription.policesAssurances.id, 'view']">{{
                      souscription.policesAssurances.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/souscription', souscription.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/souscription', souscription.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(souscription)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
